html {
	box-sizing: border-box
}

/* Credit to david for teaching us */
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
	/* height & width will now include border & padding by default
		 but can be over-ridden as needed */
	box-sizing: inherit;
}

/* Credit to david for teaching us */
/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
	font-size: 62.5%;
	--light-grey: #e0e0e0;
	--green: #009E33;
	--amber: #ffc107;
	--dark-green: #008B4E;
	--blue-grey: #263238;
	--light-peach: #FFEDE6;
	--light-blue: #C3FCF2;
	--reddish: #C1564C;
} */

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;

	/* display: grid; */
	font-size: 2.4rem;
	font-weight: bold;
	height: 100vh;
}
.container {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: var(--amber)
}

.card-content {
	color: var(--blue-grey);
}

/* recipe container */
#returned-recipes {
	background-color: var(--amber);
}

#recipes-headline {
	display: none;
	text-align: center;
}

#recipe-title {
	text-align: center;
}

.recipe-card {
	margin: 5px 10px;
	background-color: var(--light-peach)
}

.collapsible-header {
	background-color: var(--light-peach)
}

.shopping-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn {
	margin:5px;
	background-color: var(--light-grey);
}

.grey {
	color: #263238
}

/* a {
	background-color: #e0e0e0;
} */

.exists {
	color: red;
}

.empty {
	color: blue;
}



.create-shopping-list {
	background-color: var(--green);
}